#day2 {
  background: #3faf82;

  .center {
    cursor: pointer;
  }

  .line {
    width: 80px;
    height: 8px;
    border-radius: 4px;
    background-color: #fff;
    margin: 14px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }

  .line-1,
  .line-3 {
    margin: 14px 0;
    transform: rotate(0);
    transition: transform 0.25s ease-in-out, margin 0.3s linear 0.4s;
  }

  .line-2 {
    margin: 14px 0;
    transform: scale(1);
    opacity: 1;
    transition: opacity 0.3s ease-in-out 0.4s, transform 0.3s ease-in-out 0.4s, margin 0.3s ease-in-out 0.4s;
  }

  .line-1.close {
    margin: -8px 0;
    transform: rotate(45deg);
    transition: margin 0.3s, transform 0.25s ease-in-out 0.4s;
  }

  .line-2.close {
    margin: 0 0;
    transform: scale(0);
    opacity: 0;
    transition: margin 0.3s, transform 0.3s linear, opacity 0.3s;
  }

  .line-3.close {
    margin: -8px 0;
    transform: rotate(130deg);
    transition: margin 0.3s, transform 0.25s ease-in-out 0.4s;
  }
}
